$font-family-base: Helvetica, Arial, sans-serif;
$font-family-heading: "VGR Sans", Helvetica, Arial, sans-serif;

$base-font-size: 16px;

// Colors (more colors - see frontend-token-definition)

// VGR Colors defined by theme stylebook
// VGR Primary colors
// var(--brand-primary-default)
// var(--brand-primary-healthcare)
// var(--brand-primary-culture)
// var(--brand-primary-education)

// VGR Complement colors
// var(--brand-complement-yellow)
// var(--brand-complement-pink)
// var(--brand-complement-purple)
// var(--brand-complement-lime)
// var(--brand-complement-green)
// var(--brand-complement-orange)
// var(--brand-complement-blue)
// var(--brand-complement-brown)
// var(--brand-complement-antracit)

// VGR Complement Light colors
// var(--brand-complement-yellow-light)
// var(--brand-complement-pink-light)
// var(--brand-complement-purple-light)
// var(--brand-complement-lime-light)
// var(--brand-complement-green-light)
// var(--brand-complement-orange-light)
// var(--brand-complement-blue-light)
// var(--brand-complement-brown-light)
// var(--brand-complement-white)

// Other colors
// var(--primary)
// var(--primary-dark)
// var(--primary-darker)
// var(--primary-lighter)
// var(--secondary)
// var(--success)
// var(--info)
// var(--warning)
// var(--danger)
// var(gray-100) to var (gray-900)
