@mixin use-primefaces-icon() {
  display: inline-block;
  font-family: primeicons !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  margin: 0;
  position: static;
  text-transform: none;
  line-height: 1;
  speak: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$pi-sort-alt-slash:"\e9ee";
$pi-arrows-h:"\e9ec";
$pi-arrows-v:"\e9ed";
$pi-pound:"\e9eb";
$pi-prime:"\e9ea";
$pi-chart-pie:"\e9e9";
$pi-reddit:"\e9e8";
$pi-code:"\e9e7";
$pi-sync:"\e9e6";
$pi-shopping-bag:"\e9e5";
$pi-server:"\e9e4";
$pi-database:"\e9e3";
$pi-hashtag:"\e9e2";
$pi-bookmark-fill:"\e9df";
$pi-filter-fill:"\e9e0";
$pi-heart-fill:"\e9e1";
$pi-flag-fill:"\e9de";
$pi-circle:"\e9dc";
$pi-circle-fill:"\e9dd";
$pi-bolt:"\e9db";
$pi-history:"\e9da";
$pi-box:"\e9d9";
$pi-at:"\e9d8";
$pi-arrow-up-right:"\e9d4";
$pi-arrow-up-left:"\e9d5";
$pi-arrow-down-left:"\e9d6";
$pi-arrow-down-right:"\e9d7";
$pi-telegram:"\e9d3";
$pi-stop-circle:"\e9d2";
$pi-stop:"\e9d1";
$pi-whatsapp:"\e9d0";
$pi-building:"\e9cf";
$pi-qrcode:"\e9ce";
$pi-car:"\e9cd";
$pi-instagram:"\e9cc";
$pi-linkedin:"\e9cb";
$pi-send:"\e9ca";
$pi-slack:"\e9c9";
$pi-sun:"\e9c8";
$pi-moon:"\e9c7";
$pi-vimeo:"\e9c6";
$pi-youtube:"\e9c5";
$pi-flag:"\e9c4";
$pi-wallet:"\e9c3";
$pi-map:"\e9c2";
$pi-link:"\e9c1";
$pi-credit-card:"\e9bf";
$pi-discord:"\e9c0";
$pi-percentage:"\e9be";
$pi-euro:"\e9bd";
$pi-book:"\e9ba";
$pi-shield:"\e9b9";
$pi-paypal:"\e9bb";
$pi-amazon:"\e9bc";
$pi-phone:"\e9b8";
$pi-filter-slash:"\e9b7";
$pi-facebook:"\e9b4";
$pi-github:"\e9b5";
$pi-twitter:"\e9b6";
$pi-step-backward-alt:"\e9ac";
$pi-step-forward-alt:"\e9ad";
$pi-forward:"\e9ae";
$pi-backward:"\e9af";
$pi-fast-backward:"\e9b0";
$pi-fast-forward:"\e9b1";
$pi-pause:"\e9b2";
$pi-play:"\e9b3";
$pi-compass:"\e9ab";
$pi-id-card:"\e9aa";
$pi-ticket:"\e9a9";
$pi-file-o:"\e9a8";
$pi-reply:"\e9a7";
$pi-directions-alt:"\e9a5";
$pi-directions:"\e9a6";
$pi-thumbs-up:"\e9a3";
$pi-thumbs-down:"\e9a4";
$pi-sort-numeric-down-alt:"\e996";
$pi-sort-numeric-up-alt:"\e997";
$pi-sort-alpha-down-alt:"\e998";
$pi-sort-alpha-up-alt:"\e999";
$pi-sort-numeric-down:"\e99a";
$pi-sort-numeric-up:"\e99b";
$pi-sort-alpha-down:"\e99c";
$pi-sort-alpha-up:"\e99d";
$pi-sort-alt:"\e99e";
$pi-sort-amount-up:"\e99f";
$pi-sort-amount-down:"\e9a0";
$pi-sort-amount-down-alt:"\e9a1";
$pi-sort-amount-up-alt:"\e9a2";
$pi-palette:"\e995";
$pi-undo:"\e994";
$pi-desktop:"\e993";
$pi-sliders-v:"\e991";
$pi-sliders-h:"\e992";
$pi-search-plus:"\e98f";
$pi-search-minus:"\e990";
$pi-file-excel:"\e98e";
$pi-file-pdf:"\e98d";
$pi-check-square:"\e98c";
$pi-chart-line:"\e98b";
$pi-user-edit:"\e98a";
$pi-exclamation-circle:"\e989";
$pi-android:"\e985";
$pi-google:"\e986";
$pi-apple:"\e987";
$pi-microsoft:"\e988";
$pi-heart:"\e984";
$pi-mobile:"\e982";
$pi-tablet:"\e983";
$pi-key:"\e981";
$pi-shopping-cart:"\e980";
$pi-comments:"\e97e";
$pi-comment:"\e97f";
$pi-briefcase:"\e97d";
$pi-bell:"\e97c";
$pi-paperclip:"\e97b";
$pi-share-alt:"\e97a";
$pi-envelope:"\e979";
$pi-volume-down:"\e976";
$pi-volume-up:"\e977";
$pi-volume-off:"\e978";
$pi-eject:"\e975";
$pi-money-bill:"\e974";
$pi-images:"\e973";
$pi-image:"\e972";
$pi-sign-in:"\e970";
$pi-sign-out:"\e971";
$pi-wifi:"\e96f";
$pi-sitemap:"\e96e";
$pi-chart-bar:"\e96d";
$pi-camera:"\e96c";
$pi-dollar:"\e96b";
$pi-lock-open:"\e96a";
$pi-table:"\e969";
$pi-map-marker:"\e968";
$pi-list:"\e967";
$pi-eye-slash:"\e965";
$pi-eye:"\e966";
$pi-folder-open:"\e964";
$pi-folder:"\e963";
$pi-video:"\e962";
$pi-inbox:"\e961";
$pi-lock:"\e95f";
$pi-unlock:"\e960";
$pi-tags:"\e95d";
$pi-tag:"\e95e";
$pi-power-off:"\e95c";
$pi-save:"\e95b";
$pi-question-circle:"\e959";
$pi-question:"\e95a";
$pi-copy:"\e957";
$pi-file:"\e958";
$pi-clone:"\e955";
$pi-calendar-times:"\e952";
$pi-calendar-minus:"\e953";
$pi-calendar-plus:"\e954";
$pi-ellipsis-v:"\e950";
$pi-ellipsis-h:"\e951";
$pi-bookmark:"\e94e";
$pi-globe:"\e94f";
$pi-replay:"\e94d";
$pi-filter:"\e94c";
$pi-print:"\e94b";
$pi-align-right:"\e946";
$pi-align-left:"\e947";
$pi-align-center:"\e948";
$pi-align-justify:"\e949";
$pi-cog:"\e94a";
$pi-cloud-download:"\e943";
$pi-cloud-upload:"\e944";
$pi-cloud:"\e945";
$pi-pencil:"\e942";
$pi-users:"\e941";
$pi-clock:"\e940";
$pi-user-minus:"\e93e";
$pi-user-plus:"\e93f";
$pi-trash:"\e93d";
$pi-external-link:"\e93c";
$pi-window-maximize:"\e93b";
$pi-window-minimize:"\e93a";
$pi-refresh:"\e938";
$pi-user:"\e939";
$pi-exclamation-triangle:"\e922";
$pi-calendar:"\e927";
$pi-chevron-circle-left:"\e928";
$pi-chevron-circle-down:"\e929";
$pi-chevron-circle-right:"\e92a";
$pi-chevron-circle-up:"\e92b";
$pi-angle-double-down:"\e92c";
$pi-angle-double-left:"\e92d";
$pi-angle-double-right:"\e92e";
$pi-angle-double-up:"\e92f";
$pi-angle-down:"\e930";
$pi-angle-left:"\e931";
$pi-angle-right:"\e932";
$pi-angle-up:"\e933";
$pi-upload:"\e934";
$pi-download:"\e956";
$pi-ban:"\e935";
$pi-star-fill:"\e936";
$pi-star:"\e937";
$pi-chevron-left:"\e900";
$pi-chevron-right:"\e901";
$pi-chevron-down:"\e902";
$pi-chevron-up:"\e903";
$pi-caret-left:"\e904";
$pi-caret-right:"\e905";
$pi-caret-down:"\e906";
$pi-caret-up:"\e907";
$pi-search:"\e908";
$pi-check:"\e909";
$pi-check-circle:"\e90a";
$pi-times:"\e90b";
$pi-times-circle:"\e90c";
$pi-plus:"\e90d";
$pi-plus-circle:"\e90e";
$pi-minus:"\e90f";
$pi-minus-circle:"\e910";
$pi-circle-on:"\e911";
$pi-circle-off:"\e912";
$pi-sort-down:"\e913";
$pi-sort-up:"\e914";
$pi-sort:"\e915";
$pi-step-backward:"\e916";
$pi-step-forward:"\e917";
$pi-th-large:"\e918";
$pi-arrow-down:"\e919";
$pi-arrow-left:"\e91a";
$pi-arrow-right:"\e91b";
$pi-arrow-up:"\e91c";
$pi-bars:"\e91d";
$pi-arrow-circle-down:"\e91e";
$pi-arrow-circle-left:"\e91f";
$pi-arrow-circle-right:"\e920";
$pi-arrow-circle-up:"\e921";
$pi-info:"\e923";
$pi-info-circle:"\e924";
$pi-home:"\e925";
$pi-spinner:"\e926";

